---
BasedOnStyle: Chromium
AccessModifierOffset: '-4'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
BreakBeforeBraces: Allman
Cpp11BracedListStyle: 'true'
ColumnLimit: 100
IndentWidth: '4'
SortIncludes: 'true'
SortUsingDeclarations: 'true'
Standard: Cpp11

...
